@inherits ComponentBase
@using System.Diagnostics
@using Piranha.Extend.Blocks;
@if (Blocks != null)
{
    foreach (var block in Blocks)
    {
        @BlockFragment(block)
        @*<div>@(block.GetType())</div>*@
    }
}

@code {

    [Parameter]
    public IList<Block> Blocks { get; set; }

    public static RenderFragment<Block> BlockFragment = (block) => 
    @<div>
    @switch (block)
        {
            case HtmlBlock htmlBlock:
                <div class="block">
                    @((MarkupString)htmlBlock.Body.Value)
                </div>
                break;
            case HtmlColumnBlock htmlColBlock:
                <div class="row block">
                    <div class="col-md">@((MarkupString)htmlColBlock.Column1.Value)</div>
                    <div class="col-md">@((MarkupString)htmlColBlock.Column2.Value)</div>
                </div>
                break;
            case ColumnBlock colBlock:
                <div class="row columns block">
                    @for (var n = 0; n < colBlock.Items.Count; n++)
                    {
                        <div class="col">
                            @BlockFragment(colBlock.Items[n])
                        </div>
                    }
                </div>
                break;
            case SeparatorBlock sepBlock:
                <div class="d-none d-md-block">
                    <div class="row justify-content-center separator">
                        <div class="col-sm-10 col-md-8 col-lg-6 ">
                            <hr>
                        </div>
                    </div>
                </div>
                break;
            case ImageBlock imgBlock:
                <div class="block image-block">
                    <img src="@imgBlock.Body.Media.PublicUrl.Replace("~/", "")">
                </div>

                break;
        }
        </div>;
    }