@inherits ComponentBase
@if (Block != null)
{
    @BlockFragment(Block)
        @*<div>@(block.GetType())</div>*@
}

@code {

    [Parameter]
    public Block Block { get; set; }

    public static RenderFragment<Block> BlockFragment = (block) => 
    @<div>
    @switch (block)
    {
        case AudioBlock audioBlock:
            <AudioBlockComponent AudioBlock="@audioBlock" />
            break;
        case ColumnBlock colBlock:
            <ColumnBlockComponent ColumnBlock="colBlock" />
            break;
        case HtmlBlock htmlBlock:
            <HtmlBlockComponent HtmlBlock="@htmlBlock" />
            break;
        case HtmlColumnBlock htmlColBlock:
            <HtmlColumnBlockComponent HtmlColumnBlock="@htmlColBlock" />
            break;
        case ImageBlock imgBlock:
            <ImageBlockComponent ImageBlock="@imgBlock" />
            break;
        case ImageGalleryBlock imgGalleryBlock:
            <ImageGalleryBlockComponent ImageGallery="@imgGalleryBlock" />
            break;
        case QuoteBlock quoteBlock:
            <QuoteBlockComponent QuoteBlock="@quoteBlock" />
            break;
        case SeparatorBlock sepBlock:
            <SeparatorBlockComponent />
            break;
        case TextBlock textBlock:
            <TextBlockComponent TextBlock="@textBlock" />
            break;
        case VideoBlock videoBlock:
            <VideoBlockComponent VideoBlock="@videoBlock" />
            break;
        }
</div>;
    }